body {
    background: $main_bg;
    font-family: $outfit;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    footer {
        margin-bottom: 10px;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        font-size: 14px;
        .attribution {
            color: white;
            a {
                color: white;
            }
        }
    }
}

@media screen and (max-width: 380px) {
   body {
    footer {
        margin: 10px 0;
        position: fixed;
        bottom: 0;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
   }
}